.sectionContainer{
    display:flex;
    flex-direction:column;
    gap:.5em;
    justify-content:space-between;
}


.sectionContainer .Title{
    color:#212121;
}

.sectionContainer .Description{
    color:#8F8F8F;
    font-weight: 300;
}

@media only screen and (max-width: 600px){

    .sectionContainer .Title{
        font-size:1.8em;
    }
    
    .sectionContainer .Description{
        font-size:.8em;
    }

}