section{
    margin:0 auto;
    padding:2em;
    align-items:center;
}

.sectionTitle{
    display:flex;
    justify-content:center;
    align-content: center;
    align-self:center;
    text-align:center;
    font-size:2.4em;
}

.instructions{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}

@media only screen and (max-width: 768px){
    .instructions{
        display:flex;
        flex-direction:column;
        justify-content:space-evenly;
        gap:.8em;
    }
}

.features-info{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}

@media only screen and (max-width: 768px){
    .features-info{
        display:flex;
        flex-direction:column;
        justify-content:space-evenly;
        gap:.8em;
    }

    .sectionTitle{
        font-size:2.2em;
    }
}

.user-email{
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.user-email h2{
    margin-bottom: .4em;
}

@media only screen and (max-width: 768px){
    .user-email input{
        width:50%;
    }
}


.hide{
    transition:all 700ms ease-out;
    display:none;
}


.show{
    transition:all 700ms ease-in;
    display:flex;
}