section{
    margin-top: 1.4rem;
    padding:3em;
    align-items:center;
}

.instructions{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}

@media only screen and (max-width: 600px){
    .instructions{
        display:flex;
        flex-direction:column;
        justify-content:space-evenly;
        gap:.8em;
    }
}