@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,500;10..48,800&display=swap');

*{
  padding:0; margin:0; top:0; right:0; bottom:0; left:0;
  box-sizing: border-box; font-family: 'Bricolage Grotesque', sans-serif;
  scroll-behavior: smooth;
}

body{
  scroll-behavior: smooth;
  background-image: linear-gradient(135deg, #e8f1ff65 0%, #fefaff60, #fffff28e 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin:0;
  color:#212121;
}

.homeTitle{
  text-align:center;
  font-size:3rem;
  line-height: 5rem;
}