footer{
    margin-top:2rem;
    background-color: #121212;
    border-top:3px solid rgb(191, 141, 255);
    padding:3em;
}

.footerContainer{
    display:flex;
    flex-direction: column;
    gap:1.5em;
    align-self:center;
    align-content:center;
}

.footerContainer .about{
    margin:1em 0 2em 0;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    gap:1.5em,
}

.about .aboutDescription{
    color:#c0c0c0;
    font-weight: 200;
}

.iconsSource{
    display:flex;
    gap:.3em;
    color:#fcfcfb;
    justify-content:flex-start;
}

.iconsSource a{
    text-decoration: none;
    color:rgb(191, 141, 255);
}

.credits{
    display:flex;
    justify-content: flex-start;
}

.credits p{
    color:#fcfcfb;
}

.credits .hearth{
    color:orange;
}
