.Navbar{
    padding:3rem;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    margin-bottom: 1.2rem;
}

.Navbar .logoBox{
    display:flex;
    flex-direction:row;
    align-self:center;
    align-items:center;
}

.Navbar .Medias{
    display:flex;
    flex-direction:row;
    align-self:center;
    align-items:center;
}

@media only screen and (max-width: 768px){

    .Navbar{
        padding:2rem;
        gap:2rem;
    }
}